[Unit]
Description=DNS Counter Display Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/asachs/dnsfail/dns_counter.py
RuntimeDirectory=dnsfail
WorkingDirectory=/var/run/dnsfail
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target 