[Unit]
Description=DNS Counter Display Service
After=network.target

[Service]
# Set GPIO permissions before starting
ExecStartPre=/bin/chmod 666 /dev/gpiochip0
ExecStartPre=/bin/chown root:gpio /dev/gpiochip0
ExecStart=/usr/bin/python3 /usr/local/share/dnsfail/dns_counter.py
RuntimeDirectory=dnsfail
WorkingDirectory=/usr/local/share/dnsfail
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target 