[tool.black]
line-length = 88
target-version = ['py38', 'py39', 'py310', 'py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  fonts
  | logs
)/
'''

[tool.isort]
profile = "black"
line_length = 88
known_first_party = ["dns_counter"]
skip_glob = ["fonts/*", "logs/*"]
